
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor principal */
.contenedorLogin {
    display: flex;
    width: 850px;
    height: 500px;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Lateral izquierdo - imagen*/
.contenedorImagen {
    width: 52%;
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}


/* Lateral derecho - formulario */
.contenedorFormularioLogin {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.formulario {
    width: 100%;
    text-align: center;
}

.formulario h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 5px;
}

.formulario p {
    color: #888;
    font-size: 14px;
    margin-bottom: 30px;
}

.campoForm {
    margin-bottom: 15px;
}

.campoForm input {
    width: 100%;
    padding: 12px 20px;
    border: none;
    background-color: #d1e9e3; 
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    color: #555;
}

.enlace {
    text-align: right;
    margin-bottom: 25px;
}

.enlace a {
    text-decoration: none;
    color: #666;
    font-size: 12px;
}

.enlace a:hover {
    text-decoration: underline;
}

/* Botón de ingreso */
.btnLogin {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #4facfe;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(79, 172, 254, 0.4);
    transition: all 0.3s ease;
}

.btnLogin:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(79, 172, 254, 0.6);
}









.contenedorRecuperar {
    width: 100%;
    max-width: 420px;;
    background: #fff;
    border-radius: 25px;
    padding: 40px 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.formulario {
    text-align: center;
}

.formulario h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 8px;
}

.formulario p {
    color: #888;
    font-size: 14px;
    margin-bottom: 30px;
}

.campoForm {
    margin-bottom: 15px;
}

.campoForm input {
    width: 100%;
    padding: 14px 20px; 
    border: none;
    background-color: #d1e9e3;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    color: #555;
    
}
